h2{
    font-size: 50px;
    text-align: center;
    color: black;
    
}
h1{
    font-size: 60px;
    text-align: center;
    color:blueviolet;
    background-color: cadetblue;
    margin: 35px 10px 35px;
    padding: 25px 10px 25px;
}
.next{
    text-align: center;
    font-size: 40px;
    color: cadetblue;
    background-color: #902be229;
}
h3{
    font-size: 50px;
    color: darkslateblue;


}
p{
    background-color:palevioletred;
    font-size: 30px;
    margin: 25px 35px 45px;
}
img{
    height: 400px;
    width:400px ;
    object-fit: cover;
    margin: 0 210px;

}